* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    cursor: pointer;
    padding: 20px 40px;
    border-radius: 5px;
    width: 210px;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border:none;
}

.grid-cell {
    width: 100%;
    border: 1px solid black;
    background-color: #BFC0C0;
}

.borderless {
    border: none;
}

.grid-row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#grid-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

#controls {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#size-picker-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#size-picker {
    width: 210px;
    -webkit-appearance: none;
    height: 10px;
    background: #000;
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    margin: 20px 0;
}

#size-picker::-webkit-slider-thumb {
    width: 210px;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 30px;
    background: #000;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
  }

#size-picker::-moz-range-thumb {
    width: 210px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
  }

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #BFC0C0;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

button:active {
    /* transition: all .2s ease-in-out; */
    background-color: black;
    color: white;
}

.selected {
    background-color: black;
    color: white;
}